@{
  Layout = "_Layout";
}
@using Factory.Models;
@using System;
@using System.Collections.Generic;
@model Factory.Models.Engineer;  

<h4>Details</h4>


<ul>
  <li>DogTag: @Model.EngineerId</li>
  <li>Name: @Model.Name</li>

  <li>Tech Mastered: </li> 
    <ul>
      @if (@Model.JoinEntities.Count <= 0) 
      {
        <li>@Model.Name is a Noob, Get some Training.</li> 
      } else 
      {
        @foreach (var join in @Model.JoinEntities) 
        {
          @using (@Html.BeginForm("DeleteMachine", "MachineEngineer")) 
          {           
            @Html.Hidden("joinId", join.MachineEngineerId)
            <li>@join.Machine.Name || <input type="submit" value="Delete" style="font-size:.6em; padding:.25em" class="btn btn-xs btn-dark"/></li>
          }
        }
      }
      <hr/>
      <p>Add Tech Trained On: </p>
      @using (Html.BeginForm("MachineAdd", "Engineers"))
      { 
      @Html.Hidden("EngineerId", Model.EngineerId)
      @Html.DropDownList("MachineId", (IEnumerable<SelectListItem>)ViewBag.MachineId, "", new { @class = "form-control"} )
      <input type="submit" value="Get those Certs" class="btn btn-dark mt-2">
      }
    </ul>
</ul>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>


