@{
  Layout = "_Layout";
}
@using Factory.Models;
@using System;
@using System.Collections.Generic;

@model List<Factory.Models.Engineer>;  

<h4>Course List</h4>

@if (@Model.Count == 0)
{
  <h5>Yo, PC Principle. Don't be Russia, Start your army!</h5>
} else
{

<p>Army Size: @Model.Count || Your army is @(Model.Count+1347) larger than Russia's</p>
<ul>
  @foreach(Engineer engineer in Model)
  {
    <li>@Html.ActionLink(engineer.Name, "Details", new { id = engineer.EngineerId })</li>
  }
</ul>
}
<hr/>
<p>@Html.ActionLink("Add more Minons", "Create")</p>